@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&display=swap');
@import url("custom_checkbox.css");

:root{
    --primary-color: #5271ff;
    --paragraph-color: #737373;
    --reset: 0;
}

body{
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    margin: var(--reset);
    padding: var(--reset);
    color:var(--paragraph-color);
}


header{
    padding-left: 48px;
    padding-top: 48px;
}

header p{
    padding: var(--reset);
    margin:var(--reset);
}

h1{
    margin: var(--reset);
    padding: var(--reset);
    font-weight: 800;
    font-size: 60px;
    
}
h2{
    font-weight: 400;
    font-size: 40px;
}

.new-task-section h2{
    text-align: center;
}

.add-input{
    margin: var(--reset) auto;
    display: flex;
    justify-content: space-between;
    width: 350px;
    border: 5px solid var(--primary-color);
    border-radius:10px; 
    min-height: 65px;
    padding: 5px;

}

.add-input input[type=text]{
    font-size: 1.2rem;
    border-style: none;
    height:65px;
    width: 85%;
    padding-left: 16px;
    color: var(--paragraph-color);

}
.add-input input[type=text]:focus{
    outline: none;
}
.add-input button{
    width: 15%;
    border-style: none;
    font-size: 3rem;
    cursor: pointer;
    color: rgb(24, 214, 24);
    background-color: white;
    padding: 5px;
}



h1 a{
    text-decoration: none;
    color: var(--primary-color);
}
 header p{
     text-align: center;

 }

 .tasks-section h2{
     text-align: center;
 }

 .tasks-section{

    display: inline-block;
    min-width: 421px;
 }

 .tasks{
    display: inline-block;
     min-width: 420px;
    min-height: 40vh;
     padding: 32px 32px 0 32px;
     background-color: var(--primary-color);
     color: white;
     border-top-right-radius: 15%;
 }

 .tasks:empty::after{
     content: "Your tasks will appear here.";
 }

 main{
     position: relative;
 }

 footer{
     display: inline-block;
     position: absolute;
     text-align: center;
     bottom: 0;
     right: 45%;

 }